/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_a,
.grid_b,
.grid_c {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.grid_a,
.grid_b,
.grid_c {
  margin-right:24px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}

/* Grid >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .grid_1 {
	width:250px;
}

.container_4 .grid_2 {
	width:500px;
}

.container_4 .grid_3 {
	width:750px;
}

.container_4 .grid_4 {
	width:1000px;
}


/* Prefix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .prefix_1 {
	padding-left:250px;
}

.container_4 .prefix_2 {
	padding-left:500px;
}

.container_4 .prefix_3 {
	padding-left:750px;
}



/* Suffix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .suffix_1 {
	padding-right:250px;
}

.container_4 .suffix_2 {
	padding-right:500px;
}

.container_4 .suffix_3 {
	padding-right:750px;
}



/* Push Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .push_1 {
	left:250px;
}

.container_4 .push_2 {
	left:500px;
}

.container_4 .push_3 {
	left:750px;
}



/* Pull Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .pull_1 {
	left:-250px;
}

.container_4 .pull_2 {
	left:-500px;
}

.container_4 .pull_3 {
	left:-750px;
}



/* Grid >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_4 .grid_a {
	width:310px;
}

.container_4 .grid_b {
	width:250px;
}

.container_4 .grid_c {
	width:346px;
}

.container_4 .grid_c .col_half {
  float: left;
  width: 161px;
  margin-right:24px;
}

.container_4 .grid_c .col_half.omega {
  float: right;
}





/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}